<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

 <!--Configurações do Sistema-->
  <appSettings>
    <!--Versão-->
    <add key="version" value="0.2.0"/>
  </appSettings>

  <connectionStrings>

    <add name="ConexaoLocal" connectionString="Data Source=localhost\SQLSERVER2014EPE; Initial Catalog=DBCertiFind; Integrated Security = SSPI"/>

    <!--String de conexão de produção-->

    <add name="ConexaoProducao" connectionString="Data Source=localhost\SQLSERVER2014EPE;Initial Catalog=DBCertiFind; Integrated Security = SSPI"/>
    <!--String do caminho para backup-->
    <add name="CaminhoArquivos" connectionString="C:\CertiFind\"/>
    <add name="CaminhoBackup" connectionString="E:\Backup\"/>
    <add name="CaminhoLogs" connectionString="E:"/>

  </connectionStrings>

</configuration>