<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <!--Configurações do Sistema-->
  <appSettings>
    <!--Versão-->
    <add key="version" value="0.1.0"/>
  </appSettings>

  <connectionStrings>
    <!--String de conexão local--> <!--para conexões na faculdade alterar o data source para: "localhost\SQLSERVER2014EPE" -->
    <add name="ConexaoLocal" connectionString="Data Source=RAFAELMEGDA;Initial Catalog=DBCertiFind; Integrated Security = SSPI"/>
    <!--String de conexão de produção-->
    <!--para conexões na faculdade alterar o data source para: "localhost\SQLSERVER2014EPE" -->
    <add name="ConexaoProducao" connectionString="Data Source=RAFAELMEGDA;Initial Catalog=DBCertiFind; Integrated Security = SSPI"/>
  </connectionStrings>
  
</configuration>