<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

    <connectionStrings>
        <add name="conexao" connectionString="Data Source=LABAPC13\SQLSERVER2014EPE; Initial Catalog=DBCertiFind; Integrated Security=SSPI"/>
    </connectionStrings>
  
</configuration>